

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/cat.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show products</title>

    
</head>
<body>
    <div class="cont">
        <h1>Categories</h1>

    <table>
        <thead>
            <tr>
                <th>phones</th>
                <th>laptops</th>
                <th>cars</th>
                <th>food</th>
            </tr>
        </thead>
        
            <tr>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>

            </tr>
            <tr>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>

            </tr>
            <tr>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>

            </tr>
            <tr>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>

            </tr>
            <tr>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>

            </tr>
            <tr>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>

            </tr>
            <tr>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
            </tr>
            <tr>

                <td>td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
                <td>kfjdfjlkjfdj</td>
            </tr>

        </tbody>
    </table>

    <a href="/">Back Dashboard</a>

</div>

</body>
</html> -->