<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inverntory Project</title>
</head>
<body>
    <div class="all">

    <header>
        <span>Inventory Project</span>
    </header>
    <div class="container">
        <div class="left-container">
            <a href="#">Dashboard</a>
        </div>
        
        <div class="content">
            <h2>Dashboard</h2>
            <a href="./add/product"> +Add Product</a>
            <div class="table-repon">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product </th>
                        <th>Category </th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th > Status</th>
                        
                    </tr>
                </thead>
                <%- include('./_tableBody.ejs') %>
            </div>


            </table>
            
        </div>

        
    </div>
</div>
</body>
</html>