<h1>Register Here</h1>

<form action="/reg" method="post">
    <label for="">Enter Your Email</label>
    <input type="text" placeholder="Enter Your Email" name="email">
    <label for="">Enter Your Password</label>
    <input type="password" placeholder="Enter Your Password" name="password">
</form>