*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Tahoma, sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 6rem;
    padding-right: 6rem;
    height: 50vh;
}
.container  .i
{
    background-color: #f6f7f7;
    padding: 20px;
    margin: 20px 0 20px;
    display: flex;
    align-items: center;
justify-content: space-around;
}
.container  .id h2{

}
.container  .i p,
.container  .i p
{
    font-size: 20px;
    color: #2100b4;
}

.info{
    background-color: #f6f7f7;
    padding: 20px;
    margin: 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info div{
    background-color: #fff;
    flex-basis: 45%;
    gap: 5%;
    margin-bottom: 20px;
}
.info div .f>h2{

}
.info div .f{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    /* margin-bottom: 20px; */
    
}
.info div .f:not(:last-child){
    border-bottom: 2px solid #eee;

}
.info div .f p{
    font-size: 28px;
    color: #2100b4;
}
.container a{
    text-decoration: none;
    background-color: black;
    padding: 0.7rem 1.4rem;
    color: white;
    margin: auto;
    display: block;
    width: fit-content;
}
@media (max-width:992px) {
    .container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .container .i,
    .container .f
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container .info div{
        flex-basis: 100%;
    }
    .container  h2{
        margin-bottom: 20px;
    }}
